# ⚙️ Folders
node_modules/

# 🧪 Dev files
*.log
.env
*.tmp
*.swp

# Runtime/cache JSONs
backend/data/games.json
backend/data/notes.json

# Token
backend/igdb/token.json

# 🧪 Test coverage or build folders
coverage/
dist/
build/

# Notes
crud_mvp.md
notes.md